.dmf-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  position: absolute;


  .direct-message-form {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    padding-top: 105px;
    max-width: 640px;
    width: 100vw;

    .dmf-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      color: #1d1c1d;
      font-size: 18px;
      line-height: 24px;
      height: 41px;

      h1 {
        font-size: 34px;
        font-weight: 800;
        cursor: default;

      }

      .escape-form {
        font-size: 30px;
        padding: 5px;
        box-sizing: content-box;
        height: 30px;
        width: 30px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
      }

      .escape-form:hover {
        background-color: #DDDDDD;
      }


    }

    .presentational {
      height: 50px;
    }

    .dmf-search {
      height: 40px;
      width: 100%;
      border: 1px solid #868686;
      border-radius: 4px;
      cursor: text;
      margin-bottom: 8px;

      input {
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        padding: 10.4px 12px 8.8px 40px;
      }

      input::placeholder {
        color: #9a9a9a;
      }
    }

    .dmf-no-match {
      display: flex;
      justify-content: center;
      height: 100px;
      line-height: 24px;
      font-size: 18px;
      align-items: center;

    }

    .dmf-user-browser-container {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      border-right: 4px solid transparent;
      border-radius: 4px;
      padding-right: 17px;
      font-size: 18px;
      line-height: 24px;

      .dmf-ubc-user:hover {
        background-color: #E8F5FA;
        border: 1px solid #C7E5F4;
        border-radius: 4px;
      }

      .dmf-ubc-user {
        display: flex;
        border: 1px solid transparent;
        border-top: 1px solid rgb(221, 221, 221);
        font-size: 15px;
        line-height: 22px;
        padding: 11px 48px 15px 11px;
        width: 572px;
        min-height: 64px;
        cursor: pointer;
        box-sizing: border-box;

        .dmf-ubc-user-image {
          overflow: hidden;
          width: 36px;
          height: 36px;
          padding: 14px 0;

        }

        .dmf-ubc-user-info {
          text-size-adjust: 100%;
          color: #1d1c1d;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 15px;
          padding: 10px 0px 10px 12px;
          line-height: 22px;
          width: 482px;

        }
      }

    }

  }
}