.dmf-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
  position: absolute;

  .direct-message-form {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    padding-top: 105px;
    max-width: 640px;
    width: 100vw;

    .dmf-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      color: #1d1c1d;
      font-size: 18px;
      line-height: 24px;
      height: 41px;

      h1 {
        font-size: 34px;
        font-weight: 800;
        cursor: default;
      }

      .escape-form {
        font-size: 30px;
        padding: 5px;
        box-sizing: content-box;
        height: 30px;
        width: 30px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
      }

      .escape-form:hover {
        background-color: #dddddd;
      }
    }

    .presentational {
      height: 50px;
    }

    .dmf-search-parent {
      display: flex;

      button {
        // border: 1px solid rgb(29, 28, 29);
        text-align: center;
        font-size: 20px;
        padding: 10px;
        height: 48px;
        width: 15%;
        border-radius: 4px;
        margin-left: 10px;
        border: 0px solid auto;
        background-color: rgb(0, 122, 90);
        color: #fff;
        font-weight: 700;
      }
      .no-users {
        background-color: rgb(221, 221, 221);
        color: black;
        cursor: default;
      }
    }
    .dmf-search {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: 85%;
      border: 1px solid #868686;
      border-radius: 4px;
      cursor: text;
      margin-bottom: 8px;

      .dmf-selected-user {
        display: flex;
        border: 1px solid black;
        border-radius: 4px;
        height: 30px;
        font-size: 16px;
        line-height: 24px;
        padding-right: 5px;
        margin: 8px 5px;
        color: white;
        background-color: #1d9bd1;
        cursor: pointer;

        img {
          overflow: hidden;
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }

        .x {
          justify-self: flex-end;
          padding-left: 10px;
        }
      }
      input {
        height: 30px;
        width: 50%;
        font-size: 16px;
        line-height: 24px;
        margin: 8px 5px;
        padding-left: 12px;
      }

      input::placeholder {
        color: #9a9a9a;
      }
    }

    .dmf-no-match {
      display: flex;
      justify-content: center;
      height: 100px;
      line-height: 24px;
      font-size: 18px;
      align-items: center;
    }

    .dmf-user-browser-container {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      border-right: 4px solid transparent;
      border-radius: 4px;
      padding-right: 17px;
      font-size: 18px;
      line-height: 24px;

      .dmf-ubc-user:hover {
        background-color: #e8f5fa;
        border: 1px solid #c7e5f4;
        border-radius: 4px;
      }

      .dmf-ubc-user {
        display: flex;
        border: 1px solid transparent;
        border-top: 1px solid rgb(221, 221, 221);
        font-size: 15px;
        line-height: 22px;
        padding: 11px 48px 15px 11px;
        width: 572px;
        min-height: 64px;
        cursor: pointer;
        box-sizing: border-box;

        .dmf-ubc-user-image {
          overflow: hidden;
          width: 36px;
          height: 36px;
        }

        .dmf-ubc-user-info {
          text-size-adjust: 100%;
          color: #1d1c1d;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 15px;
          padding: 10px 0px 10px 12px;
          line-height: 22px;
          width: 482px;
        }
      }
    }
  }
}
