.messages-parent {
  display: grid;
  grid-template-rows: 53px 1fr 81px;
  width: 100%;
  max-height: 100vh;

  header {
    display: flex;
    padding: 11px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;

    .mh-right {
      display: flex;
      align-items: center;
      cursor: not-allowed;

      .mh-search {
        border: 1px solid black;
        border-radius: 5.6px;
        padding: 2px 0;
        height: 32px;
        display: flex;
        align-items: center;
      }
      input {
        // padding-left: 8px;
        line-height: 16px;
        cursor: not-allowed;
      }

      i {
        margin: 0 6px;
        font-size: 1.25rem;
      }
      .mh-icons {
        display: flex;

        i:first-child {
          margin-left: 12px;
        }
        i:last-child {
          margin-right: 12px;
        }
      }
    }

    p {
      padding-left: 20px;
      font-size: 18px;
      font-weight: 800;
      color: rgb(29, 28, 29);
      white-space: nowrap;
      padding-right: 10px;
    }
  }

  .message-area {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;

    .message-data {
      display: grid;
      grid-template-columns: 70px 1fr;
      padding: 6px 20px 6px 0;

      .message-image {
        display: flex;
        justify-content: flex-end;
        padding-right: 8px;

        img {
          height: 36px;
          width: 36px;
        }
      }

      .message-content-area {
        display: flex;
        flex-direction: column;

        .message-info {
          display: flex;
          margin-bottom: 5px;

          .mi-username {
            font-size: 15px;
            line-height: 15px;
            font-weight: 800;
            padding-right: 4px;
            overflow: hidden;
          }

          .mi-time {
            overflow: hidden;
            padding-top: 2px;
            font-size: 12px;
            line-height: 12px;
            color: #616061;
          }
        }

        .message-content {
          font-size: 15px;
          line-height: 22px;
          overflow-wrap: break-word;
          text-align: left;
          word-wrap: break-word;
          word-break: break-word;
          box-sizing: border-box;
        }
      }
    }
  }

  .message-form {
    display: grid;
    grid-template-columns: 19px 1fr 20px;
    grid-template-rows: 15px 1fr 22px;

    input {
      resize: none;
      grid-column: 2;
      grid-row: 2;
      padding-left: 20px;
      border: 2px solid #aaaaaa;
      border-radius: 8px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      box-sizing: border-box;
      font-size: 15px;
      line-height: 22px;
      // padding-top: 9px;
    }

    input::placeholder {
      color: #9a9a9a;
    }

    button {
      display: none;
      width: 1px;
      height: 1px;
    }
  }
}
