// Top level NavBar component
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  line-height: 20px;
  padding: 0 5%;

}

// 2nd level 
.nav-left-align {
  display: flex;
  align-items: center;

}

.nav-right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// 3rd level 
.nav-left-align>div {
  padding: 5px;
  margin: 5px;
  // cursor: not-allowed;
}

.logo {
  max-height: 40px;
  max-width: 40px;
}

.nav-right-align>div {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.nav-right-align>button {
  text-align: center;
  background-color: #611f69;
  border: 2px solid #611f69;
  padding: 10px;
  line-height: 16px;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

.nav-right-align>button:hover {
  background-color: #4a1750;
}