.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #3F0E40;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  width: 220px;
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 26px;
  color: rgb(197, 183, 198);
  text-decoration: none solid #fff;

  .presentational {
    height: 18px;
  }

  .sidebar-nav {
    padding-left: 15px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    height: 61px;

    div {
      font-size: 20px;
    }

    .navbar-logged-in {
      display: flex;
      justify-content: space-between;
      font-size: 15px;

    }
  }

  .sidebar-data {
    display: flex;
    flex-direction: column;

    .section-header {
      padding-left: 15px;
      padding-right: 12px;
    }

    .chatroom {
      padding-left: 20px;
      padding-right: 12px;
      font-size: 15px;
    }

    .selected {
      padding-left: 20px;
      padding-right: 12px;
      font-size: 15px;
      color: #fff;
      background-color: rgb(17, 100, 163)
    }
  }

}

.app-title {
  color: #fff;
}

.chatroom,
.section-header,
.selected,
.logout {
  cursor: pointer;
}