.sidebar-parent {
  display: flex;
  flex-direction: column;
  background-color: #3F0E40;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  width: 220px;
  height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 26px;
  color: rgb(197, 183, 198);
  text-decoration: none solid #fff;

  .presentational {
    height: 18px;
  }

  .sidebar-nav {
    padding-left: 15px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    height: 61px;

    div {
      font-size: 20px;
    }

    .navbar-logged-in {
      display: flex;
      justify-content: space-between;
      font-size: 15px;

    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    width: 220px;
    height: 100vh;
    overflow: scroll;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 26px;
    color: rgb(197, 183, 198);
    text-decoration: none solid #fff;

    .presentational {
      height: 18px;
    }


    .sidebar-data {
      display: flex;
      flex-direction: column;

      .section-header {
        padding-left: 15px;
        padding-right: 12px;
        min-height: 26px;
      }

      .section-header:hover {
        color: #fff;
      }

      .selected {

        color: #fff;
        background-color: rgb(17, 100, 163);
      }

      .chatroom,
      .selected {
        min-height: 26px;
        padding-left: 20px;
        padding-right: 12px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;

        p {
          width: 154px;
        }

        .leave-chatroom {
          align-self: center;
          padding: 0 7px;
          font-size: 14px;
        }
      }


      .presentational {
        min-height: 18px;
      }

    }

  }

  .app-title {
    color: #fff;
    font-weight: 700;
  }

  .chatroom,
  .section-header,
  .selected,
  .logout {
    cursor: pointer;
  }
}