.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 30px 100px;
  border: 2px solid lightgrey;
  min-width: 400px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {

      margin: 5px;
      padding-bottom: 10px;
      font-size: 12px;
      color: red;
    }
  }

  h2 {
    margin: 5px;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  p {
    margin: 5px;
    padding-bottom: 20px;
    font-size: 16px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    input {
      border: 1px solid grey;
      padding: 5px 15px;
    }

    button {
      text-align: center;
      background-color: #611f69;
      padding: 10px 15px;
      color: #fff;
      border-radius: 3px;
      align-self: stretch;
    }

    button:hover {
      background-color: #4a1750;
    }
  }
}