// Top level NavBar component
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 0 5%;
}

// 2nd level 
.nav-left-align {
  display: flex;
  align-items: center;

}

.nav-right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// 3rd level 
.nav-left-align>div {
  padding: 5px;
  margin: 5px;
}

.logo {
  max-height: 40px;
  max-width: 40px;
}

.nav-right-align>div {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.nav-right-align>button {
  text-align: center;
  padding: 5px;
  margin: 5px;
}